<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">PhotoLiker</p>
            <div class="list-group">
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <div id="map"></div>
            <!-- google map -->
            <script>
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: -34.397, lng: 150.644},
                        zoom: 8
                    });
                }
            </script>

        </div>
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img src="<%= foundCamp.img %>">
                <div class="caption-full">
                    <h4 class="float-right">$<%= foundCamp.price %>/trip</h4>
                    <h4><a href="#"><%= foundCamp.name %></a></h4>
                    <p><%= foundCamp.description%></p>
                    <p><em><strong>Submitted By <a href="/home/<%= foundCamp.author.id %>/profile"><%= foundCamp.author.username %></a></strong></em></p>

                    <% if (currentUser && foundCamp.author.id.equals(currentUser._id)){%>
                        <a class="btn btn-success btn-md" href="/home/<%= foundCamp._id %>/edit">Edit</a>
                        <form id="delete-form" action="/home/<%= foundCamp._id %>?_method=DELETE" method="post">
                            <button class="btn btn-danger btn-md">Delete</button>
                        </form>
                    <%}%>

                </div>
            </div>

            <div class="card card-body bg-light">
                <div class="text-right">
                    <a class="btn btn-info btn-sm" href="/home/<%= foundCamp._id %>/comment/new">Add a new comment</a>
                </div>
                <hr>
                <% foundCamp.comments.forEach((comment)=>{ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username%></strong>
                            <span class="float-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)){%>
                                <form id="comment-delete-form" action="/home/<%= foundCamp._id %>/comment/<%= comment._id %>?_method=DELETE" method="post">
                                    <button class="btn btn-danger btn-sm float-right">Delete</button>
                                </form>
                                <a class="btn btn-info btn-sm float-right" href="/home/<%= foundCamp._id %>/comment/<%= comment._id %>/edit">Edit</a>
                            <%}%>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>
